{% extends 'base.html.twig' %}


{% block nav %}
    {{ include('partials/_sidebar.html.twig') }}
{% endblock %}

{% block content %}
<div class="container user_dashboard">
    <h1>Hallo, {{ app.user.username }}</h1>
    <a class="button" href="exercises/">Maak oefeningen!</a>
    <h2>Mijn sets</h2>

    {% for userset in usersets %}
        <div class="dash">
            <h3>Set {{ userset.id }}</h3>
            <div class="dashboard_item">
                <i class="fa fa-star"></i>
                {% if exercises|length>1 %}
                    {{ exercises|length }} oefeningen
                {% else %}
                    {{ exercises|length }} oefening
                {% endif %}
            </div>
            <div class="dashboard_item">
                <i class="fa fa-rotate-right"></i>
                {% if exerciseattempts|length!=1 %}
                    {{ exerciseattempts|length }} pogingen
                {% else %}
                    {{ exerciseattempts|length }} poging
                {% endif %}
            </div>
            <div class="dashboard_item">
                <i class="fa fa-check-circle"></i>
                {% if correctexerciseattempts|length!=1 %}
                    {{ correctexerciseattempts|length }} correcte pogingen
                {% else %}
                    {{ correctexerciseattempts|length }} correcte poging
                {% endif %}
            </div>
            <div class="dashboard_item">
                <i class="fa fa-ban"></i>
                {% if falseexerciseattempts|length!=1 %}
                    {{ falseexerciseattempts|length }} niet-correcte pogingen
                {% else %}
                    {{ falseexerciseattempts|length }} niet-correcte poging
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function() {
        $('#toggle-menu').sidr();
    });
</script>
<script>
    $( "li:nth-child(3) a").css("color"," #E65286" );
</script>

{% endblock %}

