{% extends "::base.html.twig" %}

{% block stylesheets %}
    <style>
        #toggle-menu{
            display:none;
        }
    </style>

{% endblock %}

{% block title %}Member:login{% endblock %}


{% block content %}

        <div class="row">
            <div class="columns small-12 medium-8 medium-offset-2 large-4 large-offset-4 center-block text-center">
             <h2 style="color:white;">Member login</h2>
                {{ error }}
                <div class="whiteborder text-center center-block">
                    {{ form(form,{'attr':{'id':'member_login','class':'text-center center-block'}}) }}
                    <a href="{{ path('rikatika_user_all_default_index') }}"><button class="btn btn-sign-form">
                            Cancel
                        </button></a>
                </div>
            </div>
        </div>

{% endblock %}

