{% extends "::base.html.twig" %}


{% block stylesheets %}
    <style>
        #toggle-menu{
            display: none;
        }
    </style>
{% endblock %}




{% block content %}

<div class="row">
    <div class="columns small-12 medium-8 medium-offset-2 large-4 large-offset-4">
        <form id="formsignup" class="text-center center-block" method="POST" action="{{ path('signup') }}">
            <h2 class="f200">Sign up</h2>
            <label class="">Username</label>
            <input class="" type="text" name="username"/>
            <label class="">First Name</label>
            <input class="" type="text" name="firstname"/>
            <label class="">Last Name</label>
            <input class=""  type="text" name="lastname"/>
            <label class="">Password</label>
            <input class="" type="password" name="password"/>
            <label class="  ">Language</label>
            <div class="language-select center-block">
            <select name="language">
                <option value="1">Nederlands</option>
                <option value="2">Engels</option>
            </select>
            </div>
            <div>
                <button class="btn btn-sign-form " type="submit">Create Account</button>
            </div>
            <div>
                <button class="signup_cancel btn btn-sign-form" type="submit"><a href="{{ path('rikatika_user_all_default_index') }}">Cancel</a></button>
            </div>
        </form>
    </div>
</div>


{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#toggle-menu').sidr();
        });
    </script>
{% endblock %}