<div id="sidr">
    <!-- Your content -->
    <ul class="admin_nav">
        <li class="admin_sidebar_name">{{ app.user.firstname }}</li>
        <li><a href="index">Users</a></li>
        <li><a href="excercises">Excercise Types</a></li>
        <li><a href="modules">Modules</a></li>
        <li><a href="{{ path('rikatika_user_all_default_index') }}">Logout</a></li>

    </ul>
</div>