<div id="sidr">
    <!-- Your content -->
    <ul class="member_nav">
        <li class="member_sidebar_name">{{ app.user.firstname }}</li>
        <li><a href="{{ path('rikatika_user_member_default_intro') }}">Introduction</a></li>
        <li><a href="{{ path('rikatika_user_member_default_index') }}">Dashboard</a></li>



       {# <li><a href="{{ path('rikatika_user_member_user_index') }}">Dashboard</a></li>#}
        <li><a href="{{ path('rikatika_user_member_exercises_index') }}">Exercises</a></li>
       {# <li><a href="readClock">Read clock</a></li>
        <li><a href="setClock">Set clock</a></li>#}
        <li><a href="{{ path('rikatika_user_member_user_logout') }}">Logout</a></li>

    </ul>
</div>