{% extends "::base.html.twig" %}

{% block nav %}
    {{ include('partials/_sidebar.html.twig') }}
{% endblock %}


{% block stylesheets %}
   <style>
       html{

       }
   </style>
{% endblock %}

{% block content %}

    <div class="container member_intro">
        <div class="col-md-6">
            <h2> Introduction </h2>
            Rika-Tika is a free-to-use evidence-based educational web application for clock learning. It’s highly
            adaptable to individual needs,
            includes empirical evidence and allows children to learn and practice both inside and outside the
            classroom.<br><br>

            Empirical evidence indicates that clock reading involves complex cognitive processes, teachers lack
            profound knowledge and strategies to overcome children’s
            difficulties and that there’s a lack of didactical materials to address clock reading through
            multimedia.<br><br>

            Based on this ascertainment, an educational web application for clock reading is being jointly developed
            by the department of Speech Therapy and Audiology
            and the department of Graphic and Digital Media of Artevelde University College Ghent.<br><br>
            The many user settings make sure every user can work at their individual level. Teachers can easily
            differentiate class groups and adjust settings for subgroups.<br><br>

            Answers for multiple choice exercises are based on scientific research of most frequent mistakes
            children make when reading clock.<br><br>
            Rika-Tika, the mascot, is guiding the user throughout the web application. She assists the user with
            feedback. Up to three levels of assistance are provided when
            a wrong answers is given: verbal/textual, visual, and finally, modelling.<br><br>

            This application is work in progress. Not all modules are developed. Planned improvements and additions
            include a detailed error analysis by the application.<br><br>

            This open source web application is free to use. We’re looking for volunteers willing to help us
            complete all types of exercises. We’re also looking for help with translating the<br><br>
            application into your language, reporting bugs and errors, suggest improvements, help with programming
            and styling. If you’re interested, please contact us via this contact form.

        </div>

        <div class="col-md-6 padding2column">

            <img src="{{ asset('bundles/app/assets/img/swiss-clock.png') }}">

        </div>
    </div>

{% endblock %}



{% block scripts %}

    <script>
        $(document).ready(function() {
            $('#toggle-menu').sidr();
        });
    </script>
    <script>
        $( "li:nth-child(2) a").css("color"," #E65286" );
    </script>



{% endblock %}