<!DOCTYPE html>
<html lang="en" ng-app="rikatika">
<head>
    <meta charset="UTF-8"/>
    <title>RikaTika</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('fav.png') }}?v=2" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% stylesheets 'bundles/app/assets/css/jquery.sidr.dark.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/app/assets/css/custom.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/app/assets/css/jquery.sidr.dark.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/app/assets/css/bootstrap.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets 'bundles/app/assets/foundation/css/foundation.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/app/assets/css/font-awesome.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/app/assets/css/style.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}




    {% block stylesheets %}

    {% endblock %}
</head>
<body>
{% block nav %}

{% endblock %}
<header>
    <div class="col-md-12 header-bg">
        <div class="sidebar-toggle-box">
            <a id="toggle-menu" href="#sidr"><i class="fa fa-bars"></i></a>

        </div>
        <div class="text-center">
            <a href="index.html" class="logoRika"><img src="{{ asset('bundles/app/assets/img/logoRikaTika.png') }}" class="logoRika"></a>
        </div>

    </div>
</header>
<div id="main">
    {% block content %}

    {% endblock %}
</div>




{% javascripts 'bundles/app/assets/js/jquery.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/app/assets/js/jquery-1.8.3.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/app/assets/js/jquery.sidr.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/app/assets/foundation/js/foundation/foundation.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/app/assets/foundation/js/foundation/foundation.slider.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/app/assets/js/clock.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/app/assets/js/bootstrap.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/app/assets/js/jquery.dcjqaccordion.2.7.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/app/assets/js/angular.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/app/assets/js/jquery.scrollTo.min.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/app/assets/js/jquery.sparkline.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/app/assets/js/jquery.gritter.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% javascripts 'bundles/app/assets/js/gritter-conf.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% javascripts 'bundles/app/assets/js/exercises/18.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}



<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

<script>
    $(document).foundation();
</script>
{% block scripts %}

{% endblock %}
</body>
</html>




