<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/rikatikauserall/css/customexercise.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/rikatikauserall/css/bootstrap.css') }}" type="text/css" rel="stylesheet"/>
        <!-- Bootstrap core CSS -->

        <!--external css-->
        <link href="{{ asset('bundles/rikatikauserall/css/font-awesome.css') }}" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="{{ asset('bundles/rikatikauserall/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/rikatikauserall/css/style-responsive.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<head>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

{% block body %}

<section id="container">
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->

        <a href="index.html" class="logo text-center center-block"><img
                    src="{{ asset('bundles/rikatikauserall/img/logoRikaTika.png') }}" class="logoedugate"></a>
        <!--logo end-->


    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">


                <h5 class="centered">{{ app.user.firstname }}</h5>

                <li class="mt">
                    <a class="intro" href="intro">
                        <i class="fa fa-users"></i>
                        <span>Users</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a class="exercises" href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Exercises</span>
                    </a>
                    <ul class="sub">
                        <li><a href="excercises">Overview</a></li>
                        <li><a href="modules">Modules</a></li>
                    </ul>
                </li>


                <li class="sub-menu">
                    <a href="{{ path('rikatika_user_all_default_index') }}">
                        <i class="fa fa-power-off"></i>
                        <span>Logout</span>
                    </a>
                </li>


            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <section id="main-content">
        <section class="wrapper">
            {% block content %}
            {% endblock %}


        </section>
    </section>

    {% block scripts %}

    {% endblock %}

    {% endblock %}
</html>
