<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('bundles/rikatikauserall/css/customexercise.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/rikatikauserall/css/bootstrap.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('bundles/rikatikauserall/css/slider.css') }}" type="text/css" rel="stylesheet"/>
        <!-- Bootstrap core CSS -->

        <!--external css-->
        <link href="{{ asset('bundles/rikatikauserall/css/font-awesome.css') }}" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="{{ asset('bundles/rikatikauserall/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/rikatikauserall/css/style-responsive.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<head>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

{% block body %}

<section id="container">

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">


                <h5 class="centered">{{ app.user.firstname }}</h5>

                <li class="mt">
                    <a class="active" href="intro">
                        <i class="fa fa-info"></i>
                        <span>Introduction</span>
                    </a>
                </li>

                <li class="sub-menu">
                    <a class="exercices" href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Exercises</span>
                    </a>
                    <ul class="sub">
                        <li><a href="readClock">Read Clock</a></li>
                        <li><a href="setClock">Set Clock</a></li>
                        <li><a href="transposingClock">Transposing Clock</a></li>

                    </ul>
                </li>

                <li class="sub-menu">
                    <a class="statisctics" href="javascript:;">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>Statistics</span>
                    </a>
                    <ul class="sub">
                        <li><a href="readClock">Excercices</a></li>
                        <li><a href="setClock">Results</a></li>

                    </ul>
                </li>

                <li class="sub-menu">
                    <a href="{{ path('rikatika_user_all_default_index') }}">
                        <i class="fa fa-power-off"></i>
                        <span>Logout</span>
                    </a>
                </li>


            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
    <section id="main-content">
        <section class="wrapper">
            {% block content %}
            {% endblock %}


        </section>
    </section>

    {% block scripts %}

    {% endblock %}

    {% endblock %}
</html>
