{% extends "::base.html.twig" %}


{% block nav %}
    {{ include('partials/_sidebar_admin.html.twig') }}
{% endblock %}

{% block content %}
    <div class="tableusers">
    <div class="table-responsive ">

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}

                <tr>

                    <td>{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.username }}</td>

                    <td>
                        <button class="btn_admin_delete">
                        <a onclick="return confirm('Wil je deze gebruiker verwijderen?')" href="users/delete/{{ user.id }}">Delete</a>
                        </button>
                    </td>

                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#toggle-menu').sidr();
        });
    </script>
    <script>
        $( "li:nth-child(2) a").css("color"," #E65286" );
    </script>
{% endblock %}