{% extends '::base.html.twig' %}


{% block stylesheets %}
    <style>
        #toggle-menu{
            display:none;
        }
    </style>
{% endblock %}


{% block nav %}

{% endblock %}


{% block content %}
    <div class="row">
        <div class="columns small-12 medium-8 medium-offset-2 large-4 large-offset-4 text-center loginchoice">

            <h2 class="text-center textcolorwhite f200">Choose profile</h2>


            <div class="listcontainer">
                <ul>
                    <li class=""><a href="{{ path('rikatika_user_administrator_user_login') }}">Administrator</a></li>
                    <li class=""><a href="{{ path('rikatika_user_supervisor_user_login') }}">Supervisor</a></li>
                    <li class=""><a href="{{ path('rikatika_user_member_user_login') }}">Member</a></li>
                    <li class=""><a href="{{ path('signup') }}">Sign up</a></li>
                </ul>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#toggle-menu').sidr();
        });
    </script>
{% endblock %}


