{% extends "::sidebarAdmin.html.twig" %}



{% block content %}
    <div class="table-responsive tableusers">

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}

                <tr>

                    <td>{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.username }}</td>

                    <td><a href="users/delete/{{ user.id }}">Delete</a></td>

                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}

{% block scripts %}


    <script>
        $( ".active").removeClass("active");
        $( ".intro").addClass("active");

    </script>

{% endblock %}