{% extends "::base.html.twig" %}

{% block stylesheets %}
    <style>
        html{
            height: auto;
            background-color: #CB5893;
            background-image: none;
        }
    </style>
{% endblock %}

{% block nav %}
    {{ include('partials/_sidebar_admin.html.twig') }}
{% endblock %}

{% block content %}
    <div class=" tableusers">
    <div class="table-responsive">

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
               <th>Is active</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for module in modules %}

                <tr>

                    <td>{{ module.id }}</td>
                    <td>{{ module.name }}</td>
                    <td>{{ module.isActive }}</td>





                    <td>
                        <button class="btn_admin_delete">
                        <a onclick="return confirm('Wil je deze module verwijderen?')" class="deleteknop" href="modules/deletem/{{ module.id }}">Delete</a>
                        </button>
                    </td>

                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#toggle-menu').sidr();
        });
    </script>
    <script>
        $( "li:nth-child(4) a").css("color"," #E65286" );
    </script>
{% endblock %}