{% extends "base.html.twig" %}

{% block nav %}
    {{ include('partials/_sidebar.html.twig') }}
{% endblock %}

{% block content %}
    <div ng-controller="exercise_type_1_controller" class="container exercise_type_1" data-exercise="{{ exercise }}">
        <div class="col-md-4 ">
            <div class="center-block text-center ">
                <h3 class="f200gray">Read the clock</h3>
                {{ analogClock ("clockId") }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="keuzes">
            <h3 class="text-center f200gray">What time is it?</h3>
            <ul class="radiobox_item_type answerscheck ">
                <li>
                    <input name="item_type" value="clear" type="radio" id="correctanswer"  />
                    <label for="radiobox">It's 2 o'clock</label>
                </li>
                <li>
                    <input name="item_new" value="new" type="radio"   />
                    <label>It's 10 to 2</label>
                </li>
                <li>
                    <input name="item_action" value="action" type="radio"  />
                    <label for="radiobox2">It's 2 to 10</label>
                </li>
                <li>
                    <input name="item_action" value="action" type="radio"  />
                    <label for="radiobox2">It's 2 past 10</label>
                </li>
            </ul>
            </div>
            <input onclick="checkAnswer()" class="centered text-center center-block btn btncheckanswer" type="submit" value="Check my answer"  id="checkanswer">
            <input onclick="sendData()" class="centered text-center center-block btn btncheckanswer" type="submit" value="send"  >

        </div>
        <div class="col-md-4">
            <div id="proficiat">
                <h3 class="text-center">Well done!</h3>
            </div>
            <div id="fout">
                <h3 class="text-center">Sorry, that's wrong</h3>
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}



<script>
    $(document).ready(function() {
        $('#toggle-menu').sidr();
    });
</script>
<script>
    $( "li:nth-child(3) a").css("color"," #E65286" );
</script>

{% endblock %}
