{% extends "::base.html.twig" %}

{% block nav %}
    {{ include('partials/_sidebar.html.twig') }}
{% endblock %}

{% block stylesheets %}
    <style>
        {{ asset('bundles/app/assets/foundation/css/foundation.css') }}
        label{
            display:none!important;
        }

        #form .required{

                display:none !important;

        }

    </style>


{% endblock %}


{% block content %}
    <div class="row exercise_18">
        <div class="exercise_title">
            <h2 class="center-text">Exercise 18</h2>
        </div>

        <div class="column_clock small-12 large-6 columns">

            <div class="clock">

                {{ analogClock ("clockId") }}
            </div>
        </div>
        <div class="small-12 large-6 columns">
            <h4>Use the sliders to set the correct time.</h4>
            <div class="row">
                <div class="row">
                    <div class="outputSliders">
                        <span id="realsliderOutput1"></span>:<span id="realsliderOutput2"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        <div class="range-slider" id="slider1" data-slider data-options="display_selector: #sliderOutput1;start: 0; end: 11;">
                            <span class="range-slider-handle" role="slider" tabindex="0"></span>
                            <span class="range-slider-active-segment"></span>
                        </div>
                    </div>
                    <div class="hidden small-2 medium-1 columns">
                        <span id="sliderOutput1"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="small-12 columns">
                        <div class="range-slider" id="slider2" data-slider data-options="display_selector: #sliderOutput2;start: 0; end: 59;">
                            <span class="range-slider-handle" role="slider" tabindex="0"></span>
                            <span class="range-slider-active-segment"></span>
                        </div>
                    </div>
                    <div class="hidden small-2 medium-1 columns">
                        <span id="sliderOutput2"></span>
                    </div>


                </div>
                <div>


                    <form action="{{ path('rikatika_user_member_exercises_control', {'id': id, 'oef':exerciseid}) }}" method="post" {{ form_enctype(form) }}>
                        {{ form_widget(form) }}
                    </form>



                </div>



            </div>
        </div>

    </div>


{% endblock %}





{% block scripts %}




    <script>
        $(document).ready(function() {
            $('#toggle-menu').sidr();
        });
    </script>
    <script>
        $( "li:nth-child(4) a").css("color"," #E65286" );
    </script>



    <script>
        (function(){

            $(document).foundation({
                slider: {
                    on_change: function(){
                        var valueslider1 = $("#sliderOutput1").text();
                        $("#realsliderOutput1").text(valueslider1);
                        console.log(valueslider1);

                        var valueslider2 = $("#sliderOutput2").text();
                        if(valueslider2>9){
                            $("#realsliderOutput2").text(valueslider2);
                        }
                        else{
                            var realvalueslider2 = "0"+valueslider2;
                            $("#realsliderOutput2").text(realvalueslider2);
                        }

                        var valuestring = $("#sliderOutput1").text() + ":" + $("#sliderOutput2").text();

                        document.getElementById('form_answer').value=valuestring;
                    }
                }
            });


            var klok = clock(document.querySelector("#clockId"));

            klok.init();
            console.log('binnen gekregenuur'+ {{ exercise.hour }}+":"+{{ exercise.minute }});
            klok.setTime({{ exercise.hour }}, {{ exercise.minute }}, {{ exercise.second }});

            $( ".submitbtn" ).click(function() {

                if($("#sliderOutput1").text()=={{ exercise.hour }} && $("#sliderOutput2").text()=={{ exercise.minute }}){
                    //goed
                    window.alert("Well done!");

                }
                else{
                    //fout
                    window.alert("Try again")
                }

            });



        })();
    </script>

    <script>
        $(document).foundation();
    </script>




{% endblock %}