{% extends "::base.html.twig" %}


{% block stylesheets %}
    <style>
        body{
            height:auto ;
            background-image: -o-linear-gradient(left bottom, #A163A9 8%, #E65286 65%);
            background-image: -moz-linear-gradient(left bottom, #A163A9 8%, #E65286 65%);
            background-image: -webkit-linear-gradient(left bottom, #A163A9 8%, #E65286 65%);
            background-image: -ms-linear-gradient(left bottom, #A163A9 8%, #E65286 65%);
            background-image: linear-gradient(to left bottom, #A163A9 8%, #E65286 65%);
        }
    </style>

{% endblock %}

{% block nav %}
    {{ include('partials/_sidebar.html.twig') }}
{% endblock %}




{% block content %}
    <div class="container user_exercises">
        <h1>Exercises</h1>
        <ul>

            {% for module in modules %}
                <li>
                   <h3>{{ module.name }}</h3>

                    {% for type in types if module.name == type.module %}

                        <ul>
                            <li>


                                <a href="{{ path('rikatika_user_member_exercises_getexercise', {'id': type.id}) }}">Oefening {{ type.id }}: {{ type.name }}</a>
                            </li>
                        </ul>

                    {% endfor %}


                </li>
            {% endfor %}

        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#toggle-menu').sidr();
        });
    </script>
    <script>
        $( "#sidr li:nth-child(4) a").css("color"," #E65286" );
    </script>

{% endblock %}